/*
Theme Name: Dr Relationship
Description: Dr Relationship booking and appointment theme
Author: Echo 5
Author URI: https://echo5web.com
Template: fusion
Version: 3.0.0
*/


/**
 * Typography
 */
@font-face {
    font-family: 'Futura-Regular';
    src:local(FUTURAM),url('assets/fonts/FUTURAM.woff') format('woff');
}
@font-face {
    font-family: 'Futura-Heavy';
    src:local(FUTURAM), url('assets/fonts/Futura-Heavy-font.ttf') format('ttf');
}
@font-face {
    font-family: 'Myrad-Pro';
    src:local(MYRIADPRO-REGULAR) ,url('assets/fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

/**
 * Grid
 */
 .elementor-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/**
 * Header
 */
li.menu-item {
    border: 1px solid #dedede;
    border-right: 0;
}
li.menu-item:last-child {
    border-right: 1px solid #dedede;
}
.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    background: white;
}
.menu-item i._mi {
    color: #86d1b2;
}
@media(max-width: 991px) {
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding: 14px;
        border-radius: 10px;
    }
    .header-light-active .navbar {
        background: white;
        border-bottom: 1px solid #ececec;
    }
}

/**
 * Content area
 */
@media(max-width: 500px) { 
    .site-content {
        margin-top: 5rem;
    }
    .page-template-default .entry-header {
        margin-bottom: 1.8rem !important;
    }    
    .elementor-section:first-child {
        padding-top: 5rem;
    }
}

/**
 * Buttons
 */
.btn, .elementor-button {
    display: inline-block;
    min-height: 50px;
    box-sizing: border-box;
    align-items: center;
    display: inline-flex !important;
}
.button::before {
    display: none;
}
a.btn.btn-sm {
    font-size: .8rem;
    padding: 10px;
    float: left;
}
.navbar-toggleable-md .navbar-nav .btn-orange .nav-link {
    background: #f5ae4d;
    color: white;
}
.navbar-toggleable-md .navbar-nav .btn-orange .nav-link i {
    color: white;
}
.btn.btn-secondary {
    background: #3ba1da;
}
.btn-orange, .btn.btn-orange.button {
    background: #f5ae4d;
    color: white;
}

/**
 * Credits
 */
form.cart {
    position: relative;
}
#user-credits {
    display: none;
}
.wc-appointments-appointment-form {
    position: relative;
}
.purchase-credits-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background: rgba(255,255,255,.85);
    z-index: 10;
    font-weight: bold;
    text-align: center;
    display: none;
}
.purchase-credits-overlay.visible {
    display: flex !important;   
}

/**
 * Memberships
 */
.um-members {
    width: 70%;
    float: right;
}
.um-search {
    text-align: left;
    padding: 0;
    float: left;
    width: 25%;
    position: relative;
}
.um-search-filter {
    padding: 0 0 15px 0;
    display: block;
    width: 100%;
}
@media (min-width: 1201px) {
    .um-search.um-search-3:before {
        content: 'Find a Mentor';
        font-size: 1.5em;
        color: black;
        position: absolute;
        bottom: 100%;
        margin-bottom: 7px;
    }
}
.search-label {
    background: #85d1b2;
    padding: 2px 10px;
    color: white;
}
.um-member {
    width: 100%;
    padding: 20px;
}
.user-meta-left {
    display: inline-block;
    width: 100%;
    clear: both;
    text-align: left;
    margin-top: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}
.um-member.awaiting_admin_review {
    padding-top: 60px;
}
.um-members .avatar, .avatar {
    border-radius: 50% !important;
    max-width: 140px !important;
    display: block;
}
.field-margin {
    margin-bottom:10px;
}
.search-filter-button {
    color: #fff;
    background-color: #97bd52;
}
input.firstcname {
    width: 100%;
    padding: 8px 8px 8px 20px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #ddd!important;
}
div.uimob800 .um-member {
    width: 100%;
}
.um-member-name {
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.um-member-name span {
    margin-top: -7px;
    float: left;
    font-size: 16px;
}
.um-member-name a.btn {
    float: right;
}
.um-member-photo {
    padding: 0 0 20px;
    text-align: left;
    float: left;
    width: 20%;
}
.um-member-photo img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    line-height: 100px;
    float: left !important;
}
.um-member-card {
    float: right;
    width: 80%;
    text-align: left;
    box-sizing: border-box;
}
@media only screen and (min-width: 1201px) {
    .um-member-card {
        padding-left: 20px;
    }
}
.um-member-meta-main {
    clear: both;
    display: inline-block;
}
.profile-buttons {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -30px;
    clear: both;
    display: inline-block;
    width: calc(100% + 40px);
}
.um-page-members .profile-buttons a.btn.btn-sm {
    text-align: center;
    width: 50%;
    float: left;
    padding: 15px 0 !important;
    border-radius: 0;
    font-size: 15px;
    background: white;
    color: #525252 !important;
    outline: 1px solid #e2e2e2;
    transition: all .2s ease-in-out;
    max-width: 50%;
    justify-content: center;
}
.profile-buttons a.btn.btn-sm:hover {
    background: #84d1b3;
    color: white !important;
}
.um-page-members .profile-buttons a.btn.book-now {
    background: #f5ae4d;
    color: white !important;
}
.um-member a.btn.view-profile {
    margin-bottom: 5px;
}
.um-member-meta {
    margin: 0 -20px;
}
.metaline-group {
    float: left;
    width: 33.33%;
    padding: 0 20px 15px;
    box-sizing: border-box;
}
.um-member-metaline strong {
    display: block;
    border-bottom: 1px solid rgb(228, 221, 221);
    padding-bottom: 2px;
    margin-bottom: 5px;
}
.metaline-group:first-child .um-member-metaline strong {
    border-bottom: 0;
}
.um-member-meta {
    border: none;
}
.um-member-metaline span {
    text-align: left;
}
.um-search-submit .um-button {
    display: block !important;
    margin: 0 0 10px!important;
}
.um-main-meta, .um-meta-text {
    display: none;
}
.um-member-metaline {
    font-size: 15px;
    line-height: 18px;
}
.um-field-checkbox, .um-field-radio {
    margin: 0;
}
.um-profile.um-viewing .um-col-131  .um-field-label {
    border: 0;
    margin: 0;
    margin-right: 7px;
    display: inline-block;
    float: left;
}
.um-profile.um-viewing .um-col-131  .um-field-label label {
    font-size: 13px !important;
    line-height: 13px !important;
    text-transform: none;
}
.um-col-131:before {
    content: 'Professional Background';
    display: block;
    margin: 0 0 8px;
    border-bottom: solid 2px #eee;
    padding-bottom: 12px;
    padding-top: 15px;
    font-size: 15px!important;
    line-height: 22px!important;
    font-weight: 600;
    text-transform: uppercase;
}
.um-col-131 .um-field {
    padding-top: 8px;
}
.um-member-meta > .um-member-metaline-qualifications:before {
    content: 'Professional Background';
    display: block;
    border-bottom: 1px solid rgb(228, 221, 221);
    padding-bottom: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}
.um-member-metaline-qualifications strong.field-title {
    display: inline-block;
    border: 0;
    padding: 0;
    margin: 0;
}

.toggle-search {
    display: none;
}
@media only screen and (max-width: 767px) {
    .um-login .um-half {
        width: 100%;
    }
}
@media only screen and (max-width: 1200px) {
    /* .um-form {
        display: flex;
        flex-direction: column;
    }
    .um-form .um-search {
        order: 2;
    } */
    .um-members {
        width: 100%;
    }
    .toggle-search {
        display: block;
        box-sizing: border-box;
        text-align: center;
    }
    .um-search form {
        display: none;
    }
    .um-search.active form {
        display: block;
    }
    .um-search.active .toggle-search span {
        display: none;
    }
    .um-search.active .toggle-search:before {
        content: 'Close Filters';
    }
}
/**
 * Member multistep registration
 */
.um-287 .um-row {
	display: none;
}
.um-287 .um-row.active {
	display: block;
}
.um-287 .um-row:first-child .um-previous-tab {
	display: none;
}
.um-287 .um-row:nth-child(4) .um-next-tab {
	display: none !important;
}
.um-287 .btn, .um-287 .um-col-alt {
    margin-top: 30px;
}
.um-287.um input[type=submit].um-button {
    background: #f5ae4d;
}
.btn.um-previous-tab {
    background: #d0d0d0;
}
.um-previous-tab, .um-next-tab {
    display: inline-block;
    float: left;
}
.um-next-tab, .um-col-alt {
    display: inline-block;    
    float: right;
}
.um-col-alt .um-button {
    min-width: 170px !important;
}

/**
 * Member forms
 */
 .um-form input[type=text], .um-form input[type=tel], .um-form input[type=number], .um-form input[type=password] {
    font-size: 17px !important;
}

/**
 * Members Profiles
 */
.um-edit-profile-btn.um-button.um-alt {
    display: none !important;
}
.um-dropdown-arr {
    top: -21px !important;
}
.um-profile .um-profile-body {
    max-width: 100% !important;
}
.um-profile.um-viewing .um-header, .um-profile-navbar {
    width: 20%;
    float: left;
    border: none;
}
.um-profile.um-viewing .um-header.no-cover .um-profile-photo {
    text-align: left !important;
    margin: 0 !important;
}
.um-header.no-cover .um-profile-meta {
    text-align: left !important;
}
.um-page-user .entry-header {
    display: none;
}
.page-template-default .entry-header {
    text-align: center;
}
.um-profile.um-editing .um-field-checkbox, .um-profile.um-editing .um-field-radio {
    cursor: pointer!important;
    width: 100%;
}
.um-profile.um-viewing .um-profile-body {
    width: 75%;
    float: left;
    max-width: 100%!important;
    box-sizing: border-box;
    padding: 0;
}
.um-profile-photo a.um-profile-photo-img {
    width: 100% !important;
    height: auto !important;
}
.h-divider {
    display: block;
    margin: 0 0 8px;
    border-bottom: solid 2px #eee;
    padding-bottom: 4px;
    color: #505050 !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .95rem;
}
.back-to-mentors {
    margin-top: 40px;    
    display: inline-block;
    width: 100%;
    justify-content: center;
}
.back-to-mentors i {
    font-size: 16px;
    line-height: 18px!important;
    margin-right: 10px;
}
@media only screen and (min-width: 768px) {
    .back-to-mentors {
        display: none;
    }
}

/**
 * Search form shortcode
 */
.drr-search-form .um-search {
    width: 100%;
}
.drr-search-form .um-search-filter {
    float: left;
    width: auto;
    clear: none;
    margin-right: 30px;
}
.drr-search-form .um-clear {
    clear: none;
}
.drr-search-form .um-search-submit .um-button {
    display: inline-block !important;
}
.um-members-pagi {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
@media only screen and (min-width: 992px) {
    .um-members-pagi {
        margin-left: 30%;
    }
}
    
/**
 * My account
 */
.woocommerce-MyAccount-navigation ul {
    padding-left: 0;
    list-style: none;
}
@media only screen and (min-width: 769px) {
    .woocommerce-account .woocommerce-MyAccount-navigation {
        width: 26%;
    }
}
.woocommerce-MyAccount-navigation li a {
    display: block;
    padding: 15px 20px;
    background: #f7f7f7;
    transition: background .2s ease-in-out;
}
.woocommerce-MyAccount-navigation li a:hover, .woocommerce-MyAccount-navigation li.is-active a {
    background: #e8e8e8;
}
.woocommerce-account .avatar {
    margin-bottom: 20px;
    border-radius: 50%;
}
@media only screen and (max-width: 768px) {
    .woocommerce-account .avatar {
        margin: 0 auto 20px;
    }
}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
    position: static;
    margin-right: 10px;
}


/**
 * Products
 */
 .counselor-info {
    width: 20%;
    float: left;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    padding-top: 0;
    width: 75%;
}
.grid-item .product {
    text-align: center;
}
html body .site-content .product.type-product .add_to_cart_button {
    transform: none;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    display: none;
}

/**
 * Checkout
 */
.woocommerce-checkout.auto-credit-checkout .site-content {
    visibility: hidden;
}
.woocommerce-thankyou-order-received {
    padding: 20px;
    background: #85d1b2;
    color: white;
    border-radius: 4px;
    margin-bottom: 30px;
}
td.woocommerce-table__product-name.product-name > a, 
td.woocommerce-table__product-name.product-name > .product-quantity,
td.woocommerce-table__product-name.product-name .wc-item-meta {
    display: none;
}
.woocommerce-checkout .col2-set .col-1 {
    width: 100%;
}
.woocommerce-checkout .col2-set .col-2 {
    display: none;
}
.woocommerce-order-details {
    overflow-x: scroll;
}
@media only screen and (max-width: 767px) {
    .woocommerce form .form-row {
        padding: 5px 0;
        width: 100%;
        margin: 0;
    }
    .woocommerce form .form-row .form-group {
        margin-bottom: 10px;
    }
    #order_review_heading {
        margin-top: 1.5rem;
    }
}

/**
 * Appointments
 */
.wc_appointments_field_staff {
    display: none;
}
.wc-appointments-appointment-hook {
    display: block !important;
}
.ui-datepicker {
    width:auto;
}
.wc-appointments-date-picker .ui-datepicker td.ui-datepicker-today, .wc-appointments-date-picker .ui-datepicker td.ui-datepicker-today a {
    color: black;
}
.wc-appointments-appointment-form .slot-picker li.slot a {
    background: white;
    margin: 6px;
    padding: .8em .2em;
    border: 1px solid gainsboro;
    border-radius: 7px;
}
.wc-appointments-appointment-form .slot-picker li.slot.selected a {
    background: #85d1b2;
}
body .cart .ui-datepicker-calendar td::after {
    content: attr(title);
    display: block;
    font-size: 14px;
    position: absolute;
    top: 11px;
    left: 0;
    text-align: center;
    width: 100%;
}
.ui-datepicker-calendar td a, .ui-datepicker-calendar td span {
    text-indent: -9999px;
}
td.hidden {
    display: none;
}
.wc-appointments-appointment-form fieldset {
    position: relative;
}
.ui-datepicker-prev, .ui-datepicker-next {
    display: none;
}
.previous-week, .next-week {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.previous-week:hover, .next-week:hover {
    background: gray;
    text-decoration: none;
}
.previous-week:before, .next-week:before {
    content: "\f344";
    font-family: dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.previous-week:before {
    content: "\f340";
}
.next-week {
    left: auto;
    right: 0;
}
.requested-time-slot-tags {
    margin: 20px 0 10px;
}
.requested-time-slot-tags .time-slot {
    display: inline-block;
    padding: 6px 10px;
    margin-right: 10px;
    font-size: .9rem;
    border-radius: 3px;
    background: #1d4c86;
    color: white;
    margin-bottom: 10px;
}

/**
 * Forms
 */
select {
    height: 42px;
}
.form-group input, input, .form-group textarea, textarea, .form-group select, select, .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    line-height: 2.2;
    border: 2px solid #e6e5e5;
    padding: 0 14px;
}
textarea {
    line-height: 1.2 !important;
}
[type="checkbox"] {
    -webkit-appearance: checkbox;
}
[type="radio"] {
    -webkit-appearance: checkbox;
}
input:focus {
    outline: none;
}
.woocommerce form .form-row {
    padding: 5px 0;
}
.form-group label {
    left: 14px;
    top: .75rem;
}
label {
    letter-spacing: 0;
}

/**
 * Sessions
 */
.page-template-page-session #navbar, .page-template-page-session #footer, .page-template-page-session .navbar-toggler {
    display: none !important;
}
 span.session-meta {
    padding: 20px;
    display: inline-block;
    border: 1px solid #c7c8d2;
    width: 33.33%;
    text-align: center;
    font-size: 1rem;
    float: left;
}
@media (max-width: 500px) {
    span.session-meta {
        width: 100%;
    }
}
.page-template-page-session .site-content {
    margin-top: 5rem;
    margin-bottom: 8rem;
}
#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #232323;
}
.video-chat-fullscreen #videos {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
}
.video-chat-fullscreen #navbar {
    /* display: none !important; */
}
.video-chat-fullscreen #subscriber {
    height: 100%;
}
#publisher {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 300px;
    height: 180px;
    z-index: 10;
}
@media (max-width: 700px) {
    #publisher {
        max-width: 80px;
        max-height: 120px;
        top: 20px;
        right: 20px;
    }
}
#subscriber {
    width: 100%;
    height: 80vh;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}
#toggle-fullscreen {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
    z-index: 20;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
}
#toggle-camera {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    z-index: 20;
    width: 35px;
    height: 35px;
    background: white;
    color: black;
    font-size: 20px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
}
#start-session {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-100%,0);
}
#end-session {
    position: absolute;
    bottom: 18px;
    right: 80px;
    z-index: 20;
}
#rebook-session {
    background: #85d1b2;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,50%,0);
}
#history {
    max-height: 370px;
    overflow: scroll;
    padding: 14px 0;
}
#textchat {
    position: fixed;
    bottom: 40px;
    left: 40px;
    background: #f9f6f6;
    padding: 30px;
    width: 94%;
    max-width: 440px;
    z-index: 100;
    max-height: 600px;
    display: none;
}
#textchat p {
    padding: 5px 16px;
    background: white;
    border-radius: 18px;
    display: inline-block;
    margin: 0;
}
#textchat .message {
    width: 100%;
    display: block;
    margin-bottom: 10px;    
}
#textchat .user-icon {
    width: 38px;
    height: 38px;
    float: left;
    display: block;
    background: gray;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
#textchat .theirs p {
    background: #4ab3ed;
    color: white;
}
#textchat .mine .user-icon {
    float: right;
    margin: 0 0 0 10px;
}
#textchat .mine {
    text-align: right;
}
#textchat input, #textchat textarea {
    width: 100%;
}
#textchat textarea {
    background: white !important;
    padding-top: 8px;
    padding-bottom: 8px;
}
.chat-open .open-chat-btn {
    display: none;
}
.chat-open #textchat {
    display: block;
}
.open-chat-btn {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #85d1b2;
    text-align: center;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    left: 40px;
    font-size: 24px;
    z-index: 100;
    cursor: pointer;    
}
.open-chat-btn:after {
    content: attr(data-unread);
    background: #e24117;
    position: absolute;
    top: -2px;
    right: -3px;
    border-radius: 50%;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    display: none;
}
.open-chat-btn.has-unread:after {
    display: block;
}
.close-chat-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background: white;
    text-align: center;
    color: black;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 18px;
}
.session-notice {
    position: fixed;
    z-index: 100;
    bottom: 20px;
    left: 20px;
}

@media (max-width: 768px) {
    .open-chat-btn {
        display: none !important;
    }
}

/**
 * Page specific
 */
 @media (max-width: 991px) {
    .elementor-element-18dda703 {
        padding-bottom: 0;
    }
    .elementor-element-c455c78 {
        padding-top: 0;
    }
}

/**
 * Vendors
 */
.product_meta, .wc-tabs-wrapper, .related.products {
    display: none;
}
.woocommerce-account .wcmp-action-container {
    position: static;
}
.woocommerce-account .form-group label {
    display: inline-block;
    margin-bottom: .3rem;
    position: static;
}

/**
 * Mailchimp Forms
 */
 @media (max-width: 767px) {
     .mc4wp-form-fields input {
         width: 100%;
     }
 }